// Colors
$color-primary: #0070f3;
$color-primary-light: #4d94ff;
$color-primary-dark: #0052cc;

$color-secondary: #55c57a;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary: #ffd700;
$color-tertiary-light: #ffa726;
$color-tertiary-dark: #e88845;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$gird-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
